body {
  background-color: #d7ccc8;
  margin: 10px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.game-log {
  height: 700px;
  width: 300px;
}
.game-log p {
  margin: 14px 0;
  text-align: center;
}
.game-log p ~ div {
  overflow-y: auto;
  height: 575px;
}
.game-log p ~ div table {
  width: 100%;
  border-collapse: collapse;
}
.game-log p ~ div table thead {
  background-color: #e58e26;
}
.game-log p ~ div table thead td {
  text-align: center;
  color: #fff;
  padding: 0;
}
.game-log p ~ div table thead tr {
  border-bottom: 1px solid #fa983a;
  height: 40px;
}
.game-log p ~ div table tbody {
  background-color: #f6b93b;
}
.game-log p ~ div table tbody tr {
  border-bottom: 1px solid #fa983a;
  height: 40px;
}
.game-log p ~ div table tbody td {
  text-align: center;
  color: #fff;
  padding: 0;
}
.game-log button {
  height: 30px;
}
.game-log #restart-game {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}
.game-log #restart-game:hover {
  background-color: #c82333;
  border-color: #bd2130;
  cursor: pointer;
}
.game-log .control-buttons {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 50px);
}
.game-log #load-game {
  color: #fff;
  background-color: orange;
  border-color: orange;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}
.game-log #start-game, .game-log #save-game {
  color: #fff;
  background-color: #28a745;
  border: 1px solid transparent;
  border-color: #28a745;
  border-radius: 5px;
  transition: all 0.3s;
}
.game-log #start-game:disabled, .game-log #save-game:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
}
.game-log #start-game:disabled:hover, .game-log #save-game:disabled:hover {
  cursor: not-allowed;
  background-color: #6c757d;
  border-color: #6c757d;
}
.game-log #start-game:hover, .game-log #save-game:hover {
  background-color: #218838;
  cursor: pointer;
  border-color: #1e7e34;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  height: 700px;
  justify-content: space-between;
}
.board-container .endgame-modal {
  width: 605px;
  height: 605px;
  position: absolute;
  top: 60px;
  background-color: #b8e994;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board-container .endgame-modal .endgame-message {
  text-align: center;
  font-size: 24px;
}
.board-container .endgame-modal .try-one-more {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
}
.board-container .player-info {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.board-container .player-info .beaten-pieces {
  margin: 0;
  font-size: 25px;
}
.board-container .player-info .removed-white {
  color: white;
}
.board-container .player-info .removed-black {
  color: black;
}
.board-container .player-info .player-name-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}
.board-container .player-info .player-name.current-turn::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  background-color: #78e08f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.board-container #chessboard {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}
.board-container #chessboard .chessboard-modal {
  position: absolute !important;
  width: 600px;
  height: 600px;
  background-color: #b8e994;
  display: flex;
  flex-direction: column;
  z-index: 99;
  align-items: center;
  justify-content: center;
}
.board-container #chessboard .chessboard-modal .modal-question {
  color: #fff;
  font-size: 50px;
}
.board-container #chessboard .chessboard-modal button {
  background-color: #28a745;
  border: 1px solid transparent;
  border-color: #28a745;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin: 5px;
}
.board-container #chessboard .possibleMove, .board-container #chessboard .brown, .board-container #chessboard .white {
  text-align: center;
  font-size: 65px;
  line-height: 75px;
  float: left;
  cursor: pointer;
}
.board-container #chessboard .possibleMove img, .board-container #chessboard .brown img, .board-container #chessboard .white img {
  width: 65px;
  height: 65px;
}
.board-container #chessboard .brown, .board-container #chessboard .white {
  width: 75px;
  height: 75px;
}
.board-container #chessboard .selected-piece {
  background-color: #b8e994 !important;
}
.board-container #chessboard .brown {
  background: #f8c291;
}
.board-container #chessboard .white {
  background: white;
}
.board-container #chessboard .possibleMove {
  background: #78e08f;
  width: 73px;
  height: 73px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.board-container #chessboard :nth-child(57) {
  position: relative;
}
.board-container #chessboard :nth-child(57)::after {
  content: "a";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(58) {
  position: relative;
}
.board-container #chessboard :nth-child(58)::after {
  content: "b";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(59) {
  position: relative;
}
.board-container #chessboard :nth-child(59)::after {
  content: "c";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(60) {
  position: relative;
}
.board-container #chessboard :nth-child(60)::after {
  content: "d";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(61) {
  position: relative;
}
.board-container #chessboard :nth-child(61)::after {
  content: "e";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(62) {
  position: relative;
}
.board-container #chessboard :nth-child(62)::after {
  content: "f";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(63) {
  position: relative;
}
.board-container #chessboard :nth-child(63)::after {
  content: "g";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(64) {
  position: relative;
}
.board-container #chessboard :nth-child(64)::before {
  content: "h";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  left: 2px;
  bottom: 30px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(8) {
  position: relative;
}
.board-container #chessboard :nth-child(8)::after {
  content: "8";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(16) {
  position: relative;
}
.board-container #chessboard :nth-child(16)::after {
  content: "7";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(24) {
  position: relative;
}
.board-container #chessboard :nth-child(24)::after {
  content: "6";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(32) {
  position: relative;
}
.board-container #chessboard :nth-child(32)::after {
  content: "5";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(40) {
  position: relative;
}
.board-container #chessboard :nth-child(40)::after {
  content: "4";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(48) {
  position: relative;
}
.board-container #chessboard :nth-child(48)::after {
  content: "3";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(56) {
  position: relative;
}
.board-container #chessboard :nth-child(56)::after {
  content: "2";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}
.board-container #chessboard :nth-child(64) {
  position: relative;
}
.board-container #chessboard :nth-child(64)::after {
  content: "1";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 2px;
  top: -25px;
  font-size: 12px;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

/*# sourceMappingURL=styles.css.map */
